<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/starter.css}" rel="stylesheet"> fsadf</link>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"></link>

</head>
<httpBody>
<div>
</div>
<!--/*@thymesVar id="name" type="com.springboot.controller"*/-->
<p th:text="'Hello, ' + ${name} + '!'" class="starter-template"/>
</httpBody>
</html>